@{
    ViewBag.Title = "Cadastro";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="container">

    <div class="form-horizontal">

        <div class="form-group">

            <label class="control-label col-md-2">Nome:</label>
            <div class="col-md-5">
                <input type="text" class="form-control" id="time_nome" />
            </div>
        </div>

        <div class="form-group">

            <label class="control-label col-md-2">Data de Fundação:</label>
            <div class="col-md-2">
                <input type="date" class="form-control" id="time_fundacao" />
            </div>
        </div>
        <hr />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button class="btn btn-default" id="btncadastro_time">Cadastrar Time</button>
            </div>
        </div>
    </div>
</div>


